<!DOCTYPE html>
<html>
  {% load static %}

  <head>
    <title>Course Details</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

    </style>
    <script src="{% static 'plotly-2.9.0.min.js' %}"></script>
    <script src="{% static 'vue.js' %}"></script>
    <!-- vuetify imports -->
    <script src="{% static 'vuetify.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vuetify.min.css' %}">
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-container>
          <v-row>
            <h3>Filter</h3>
          </v-row>
          <v-row>
            <v-col cols="6" v-for="key in Object.keys(filters)" :key="key">
              <v-autocomplete v-model="filtersActive[key]" :items="filters[key]" :label="key" outlined dense chips
                small-chips multiple>
              </v-autocomplete>
            </v-col>
          </v-row>
          <div id="tester" style="width:600px;height:250px;"></div>
          <h1>Course Details</h1>
          <a href="{% url 'exporter:moodleConnectionForm' %}" type="button">Back to Connection Form</a>
          <br>
          <br>
          <table>
            <tr>
              {% for header in table_headers %}
              <th>{{header}}</th>
              {% endfor %}
            </tr>
            <!--
            {% for entry in log %}
            <tr>
              {% for _, cell_value in entry.items %}
              <td>{{cell_value}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
            -->
          </table>
        </v-container>
      </v-app>
    </div>

    <!--
    {{ newlc_categories|json_script:"newlc_categories" }}
    {{ newlc_category_sum_per_student|json_script:"newlc_category_sum_per_student" }}
    {{ newlc_category_sum_average|json_script:"newlc_category_sum_average" }}
    -->
    {{ filters|json_script:"filters" }}
    <script>
      var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          values: [],
          items: [1, 2, 3, 4, 5, 6, 10, 100],
          newlcCategories: [],
          newlcCategorySumPerStudent: [],
          newlcCategorySumAverage: [],
          filters: {},
          filtersActive: {},
        },

        mounted() {
          /*
          this.newlcCategories = JSON.parse(document.getElementById('newlc_categories').textContent)
          this.newlcCategorySumPerStudent = JSON.parse(document.getElementById('newlc_category_sum_per_student').textContent)
          this.newlcCategorySumAverage = JSON.parse(document.getElementById('newlc_category_sum_average').textContent)
          */
          this.filters = JSON.parse(document.getElementById('filters').textContent)
        },
      })
    </script>

    <script>

      TESTER = document.getElementById('tester');

      Plotly.newPlot(TESTER, [{

        x: [1, 2, 3, 4, 5],

        y: [1, 2, 4, 8, 16]
      }], {

        margin: { t: 0 }
      });

    </script>
  </body>

</html>
