<!DOCTYPE html>
<html>
<head>
    <title>Course Details</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
</head>
<body>
    <h1>Course Details</h1>
    <button href="{% url 'index' %}">Back to Connection Form</button>
    <table>
      <tr>
        {% for header in table_headers %}
          <th>{{header}}</th>
        {% endfor %}
      </tr>

      {% for entry in log %}
      <tr>
        {% for _, cell_value in entry.items %}
          <td>{{cell_value}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
</body>
<html>
