<!DOCTYPE html>
<html>
<head>
    <title>ConnectionForm</title>
    <style>
        label, input, button{
            display: block;
        }
    </style>
</head>
<body>
    <h1>ConnectionForm</h1>
    <form action="{% url 'courseList' %}" method="post">
        {% csrf_token %}
        <label>URL Moodle Instance</label>
        <input type="text" value={{moodle_url}} name="moodle_url" required>
        <label>Username</label>
        <input type="text" value={{username}} name="username" required>
        <label>Password</label>
        <input type="password" value={{password}} name="password" required>
        <input type="submit" value="Connect">
    </form>
</body>
<html>
