<!DOCTYPE html>
<html>
<head>
    <title>CourseDetails</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
</head>
<body>
    <h1>CourseDetails</h1>
    <table>
      <tr>
        {% for header in table_headers %}
          <th>{{header}}</th>
        {% endfor %}
      </tr>

      {% for entry in log %}
      <tr>
        {% for cell in entry.items %}
          <td>{{cell}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
</body>
<html>
